@model IEnumerable<dd106516MIS4200.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movie List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.actor.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bestPicture.eligibleYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.actor.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bestPicture.eligibleYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.movieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.movieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.movieID })
        </td>
    </tr>
}

</table>
